@using GestAI.Web.Dtos
@inject NavigationManager Nav

<div class="alert alert-info">Esta vista fue reemplazada por la administración completa de hospedajes.</div>
<button class="btn btn-primary" @onclick='() => Nav.NavigateTo("/properties")'>Ir a hospedajes</button>
